*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #02152c ;
}

a {
    text-decoration: none;
    color: #a487ed;
    transition: .5s;
}

a:hover{
    color: #ffb7ff;
}